
<title style="color: blue;">Employee Details</title>
    <div class = "box2">
  </div>
<div class="container">
<label for="Status" id="center"> Status </label>
  <select name="Status"id="Status">
    <option value="pending">pending</option>
    <option value="submitted">submitted</option>
    <option value="waiting for approval">waiting for approval</option>
    <option value="approved">approved</option>
    <option value="Rejected">Rejected</option>
    <option value="appointed">appointed</option>
  </select> 

  <label for="fromdate" id="center"> From date:</label>
  <input type="date" id="fromdate" name="fromdate">
  
  <label for="todate" id="center"> To date:</label>
  <input type="date" id="todate" name="todate">

  <button class = "btn-primary">filter</button>
</div>
<div class = "table-wrapper"><table class="table table-bordered table-striped table-hover">
  <table id="table">
      <thead>
      <tr>
          <th
                  class="text-center"
                  style="width: 500px"
                  style="background-color: darkblue"
          >
              S.no
          </th>
          <th
                  class="text-center"
                  style="width: 500px"
                  style="background-color: darkblue"
          >
              Company Code
          </th>
          <th
                  class="text-center"
                  style="width: 800px"
                  style="background-color: darkblue"
          >
              Company Name
          </th>
          <th
                  class="text-center"
                  style="width: 500px"
                  style="background-color: darkblue"
          >
              Active Status
          </th>
          <th
                  class="text-center"
                  style="width: 500px"
                  style="background-color: darkblue"
          >
              testcase3
          </th>
          <th
                  class="text-center"
                  style="width: 500px"
                  style="background-color: darkblue"
          >
              Created By
          </th>
          <th
                  class="text-center"
                  style="width: 500px"
                  style="background-color: darkblue"
          >
              Modified On
          </th>
          <th
                  class="text-center"
                  style="width: 500px"
                  style="background-color: darkblue"
          >
              Modified By
          </th>
          <th
                  class="text-center"
                  style="width: 500px"
                  style="background-color: darkblue"
                  >
              Actions
          </th>
      
          <link rel="preconnect" href="https://fonts.googleapis.com" />
          <link
                  rel="preconnect"
                  href="https://fonts.gstatic.com"
                  crossorigin
          />
          <link
                  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,400&display=swap"
                  rel="stylesheet"
          />
      </tr>
      </thead>
      
  </table>
</table></div>
<button style="float: right;" (click)="gotoprintid()">print table</button>