
<div class="card">
    <h1 id="center"> RANE MADRAS LIMITED</h1>
    <img src="../assets/elite_logo.png" alt="Avatar" style="width:20%">
    <div class="container">
      <div > 
        <b> 
          ID no: 
        </b>
      </div>
  
      <div >
        <b>
          Name:</b> <div class="spacing">Sakthivel</div></div>
  
      <div > <b> Father's name: </b><div class="spacing"> Maya</div></div>
      <div > <b> Department: </b><div class="spacing"> Traning</div></div>
      <div > <b>Designation:</b><div class="spacing">NEEM </div></div>
      <h1></h1>
      <div > <b>authorised signature </b></div>
      <div class="spacing">
    <img src="../assets/elite_logo.png" alt="Avatar" style="width:20%" ></div>
      
    </div>
  </div>
  <div class="card2"  >
    <div class="container">
    <div > <b>Address:</b><div class="spacing">abcd </div></div>
    <h1></h1>
    <div > <b>Emergency contact</b></div>
    <h1></h1>
    <div > <b> Name</b><div class="spacing">Maya</div></div>
    <div > <b>Relation:</b><div class="spacing"> Father</div></div>
    <div > <b> Valid from:</b> <div class="spacing">09-09-09</div></div>
    <div > <b> Valid to:</b><div class="spacing">08-08-08</div></div>
    
  </div>
  </div>
