<h1> HR APROVAL</h1>

    <div class = "box2">
  <div class="center">
    <!--<img src="../assets/bg.png" class="background"> -->
    <img src="../assets/rane.png" id="center" >
    </div>
  </div>
<div class="box">
<label for="Status" id="center"> Aproval </label>
  <select name="Status"id="Status">
    <option value="pending">pending</option>
    <option value="submitted">submitted</option>
    <option value="waiting for approval">waiting for approval</option>
    <option value="approved">approved</option>
    <option value="Rejected">Rejected</option>
    <option value="appointed">appointed</option>
  </select> 

  <label for="fromdate" id="center"> From date:</label>
  <input type="date" id="fromdate" name="fromdate">
  
  <label for="todate" id="center"> To date:</label>
  <input type="date" id="todate" name="todate">
</div>